@model InventarioOtro.Models.Deuda

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4>Actualizar</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Deuda</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Venta.Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(modelItem => modelItem.Venta.Cliente.Cfirstname) @Html.DisplayFor(modelItem => modelItem.Venta.Cliente.Clastname)
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ValorInicial, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ValorInicial, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.ValorInicial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ValorActual, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ValorActual, new { @class = "form-control", @type = "number",@readonly=true })
                    @Html.ValidationMessageFor(model => model.ValorActual, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div id="deuda">
        <div class="row">

            <div class="col-md-2">
                <dt>
                    Dinero pagado
                </dt>

                <dd>

                    @Html.TextBox("ValorPagado", Model.ValorActual, new { @class = "form-control", @type = "number", @min = 0, @max = Model.ValorActual })

                </dd>
            </div>
        </div>



    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-offset-2 col-md-1">
            <input id="id_submit" type="submit" value="Aceptar" class="btn btn-primary" />
        </div>
        <div class="col-md-offset-2 col-md-2">
            <a role="button">@Html.ActionLink("Regresar", "Index", new { area = "" }, new { @class = "btn btn-primary", @title = "Regresar" })</a>
        </div>
    </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script></script>
}