@model InventarioOtro.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Contraseña";
}
<br />
<h4>@ViewBag.Title</h4>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
  
        string a = ViewBag.UserId.ToString();

        @Html.Hidden("id", a)
    

    <h4>Formulario para cambiar la contraseña</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
        </div>
        <div class="col-md-offset-2 col-md-2">
            <a role="button">@Html.ActionLink("Regresar", "Index", "ApplicationUsers", new { area = "" }, new { @class = "btn btn-primary", @title = "Regresar" })</a>
        </div>
    </div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}