@model InventarioOtro.Models.VentaDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VentaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto.Carticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Carticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garantia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
