@model InventarioOtro.ViewModels.DeleteVentaViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br />
@if (ViewBag.Mensaje)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Atención!</strong> <a href="#" class="alert-link">Esta venta ya se ha cerrado.</a> No puede ser eliminada
    </div>
}

<h3>Estás seguro de eliminar esta venta?</h3>
<div>
<h4>Venta</h4>
<hr />
<dl class="dl-horizontal">
    <div class="row">
        <div class="col-md-3">
            <dt>
                Cliente
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venta.Cliente.Cfirstname) @Html.DisplayFor(model => model.Venta.Cliente.Clastname)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                Vendedor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venta.Vendedor.Nombre)
            </dd>
        </div>
            
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.FechaVenta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venta.FechaVenta)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.Usuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venta.Usuario)
            </dd>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <dt>
                Cantidad Total Vendida
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venta.CantTotalProductos)
            </dd>
        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.PrecioTotal)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Venta.PrecioTotal)
            </dd>


        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.CostoTotal)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Venta.CostoTotal)
            </dd>

        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.GanaTotal)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Venta.GanaTotal)
            </dd>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.MensajeroId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreMensajero)
            </dd>  
        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.GanaMensajero)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Venta.GanaMensajero)
            </dd>

 
        </div>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Venta.Descuento)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Venta.Descuento)
            </dd>
        </div>
    </div>

       
</dl>
<br/>
<dt>Artículos en la venta</dt>
<br/>
<table id="tabla" class="table table-hover table-responsive-md" style="width: 100%; margin-left: 0px;">
    <tr class="table-primary ">
            
        <th>
            Artículo
        </th>
        <th>
            Lote
        </th>
        <!--<th>
            Descuento
        </th>-->
                
        <th>
            Comprado
        </th>
        <th>
            Garantía
        </th>
        <th>
            Precio por producto
        </th>
           
            
    </tr>
    @if (!Model.Venta.DetallesVenta.Any())
    {
        <tr><td colspan="5">No hay elementos que mostrar</td></tr>
    }
    @foreach (var item in Model.Venta.DetallesVenta)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Carticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Clote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>

            <td>
                @if (item.Garantia == 0)
                {
                    <p>Sin garantía</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Garantia) <p>días</p>
                }
               
            </td>
            <td>
                @if (Model.Venta.TipoVenta==1)
                {
                    var precio =item.Producto.Nprecminoris * item.Cantidad;
                    <p>$@precio</p>
                }
                else
                {
                    var precio = item.Producto.Nprecmayoris * item.Cantidad;
                    <p>$@precio</p>
                }
                
            </td>
           

           
        </tr>
    }

</table>
<br/>
<div class="row">
    <h4> Fotos de la Venta</h4>
</div>
      
<div class="row">
    @foreach (var foto in Model.ListImgSrc)
    {
        <div class="col-md-4">
            <img src=@foto width="100%" height="100%" />
        </div>
            
          
    }
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="row" style="margin-top: 10px">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" value="Borrar" class="btn btn-primary" />
        </div>
        <div class="col-md-offset-2 col-md-2">
            <a role="button">@Html.ActionLink("Regresar", "Index","Ventas", new { area = "" }, new { @class = "btn btn-primary", @title = "Regresar" })</a>
        </div>
    </div>
}
</div>