@model InventarioOtro.Models.Producto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4>Eliminar</h4>
@if (ViewBag.Mensaje)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Atención!!!</strong> <a href="#" class="alert-link">Este producto ha sido vendido.</a> No se puede eliminar
    </div>
}
<h3>Está seguro de que desea eliminar esto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Carticulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Carticulo)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Cdescripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cdescripcion)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.CategoriaProductoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoriaProducto.Cnombre)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Clote)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Clote)
                </dd>
            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Ncantidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ncantidad)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Ndisponibilidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ndisponibilidad)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Npreccosto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Npreccosto)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Nprecmayoris)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nprecmayoris)
                </dd>
            </div>

        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Nprecminoris)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nprecminoris)
                </dd>
            </div>
            <!--<div class="col-md-3">
        <dt>
            @Html.DisplayNameFor(model => model.Ndescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ndescuento)
        </dd>
    </div>-->
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Ngananctrab)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ngananctrab)
                </dd>
            </div>
            <div class="col-md-3">

            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Lactivo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lactivo)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Linversion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Linversion)
                </dd>
            </div>
        </div>

    </dl>
    @if (!ViewBag.Mensaje)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" value="Borrar" class="btn btn-primary" />
                </div>
                <div class="col-md-offset-2 col-md-2">
                    <a role="button">@Html.ActionLink("Regresar", "Index", new { area = "" }, new { @class = "btn btn-primary", @title = "Regresar" })</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-offset-2 col-md-1">
                
            </div>
            <div class="col-md-offset-2 col-md-2">
                <a role="button">@Html.ActionLink("Regresar", "Index", new { area = "" }, new { @class = "btn btn-primary", @title = "Regresar" })</a>
            </div>
        </div>
    }
</div>
